body {
  background-color: #000;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
}

.container {
  width: min(80vw, 60em);
  display: grid;
  gap: 1em;
  margin: 5em 0;
}

.container img {
  border-radius: 5px;
  cursor: pointer;
}

footer {
  color: #fff;
  text-align: center;
  padding: 2em;
}

footer a {
  color: #fff;
}

@media (width > 30em) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
  }
}
